
/* 481px or bigger for full name on top bar */
@media (min-width : 30rem){

    .short-logotype{
        display:none;
    }

    .logotype{
        display:block;
        font-weight: 300;
        font-size: 1.85rem;
        color: var(--navbar-text-color);
        text-decoration: none;
        margin:0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.5rem;
        padding:0;
    }


    .main-section{
        width:93%;
        margin:2.5rem auto;
    }

    .callout p{
        font-size: 2rem;
        word-spacing: 0.15rem;
    }

    h2{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem;
        margin-top: 2.2rem;
    }

}





/* ============ layout SWITCH - 920 px and bigger ============ */
/* 920 px or bigger so ipad airs can have a side bar too */
@media (min-width : 57.5rem){

    .main-wrapper{
        flex-direction: row-reverse;
    }

    main{
        margin-right: 14.5rem;
    }

    .main-section{
        width:85%;
        margin:2.5rem auto;
    }

    .nav-section{
        width: 14.5rem;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        position: fixed;
      
    }

    .my-brand{
        flex-direction: column;
        align-items: center;
    }

    .short-logotype{
        display:none;
    }

    .logotype{
        display: block;
        color: var(--navbar-text-color);
        text-decoration: none;
        text-align: center;
        font-size: 1.7rem;
        line-height: 2rem;
        padding: 0 2rem ;

    }

    .smiley-logo{
        display: block;
        width: 5.9rem;
        height: auto;
        margin-bottom: 0.8rem;
        
    }

    nav{
        flex-direction: column;
    }

    nav a{
        text-align: center;
        font-weight: 400;
        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;
        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
    }


    nav a:hover, nav a:focus{
        color: var(--navbar-color);
        background-color: var(--navbar-text-color);

        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;

        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
        text-decoration: none;
    }

    nav a:focus{
        text-decoration: underline;
    }


    footer{
        display: none;
    }

    .side-footer{
        display: block;
    }

    .side-footer p{
        display: block;
        color:var(--navbar-text-color);
        text-align: center;
        font-size: 0.8rem;
        font-weight: 200;
    }

    .space-fixer-div{
        display: block; 
    }

    .callout p{
        font-size: 4.6rem;
        word-spacing: 0.15rem;
        font-size: 2.8rem;
    
    }

    .callout{
        margin-top: 6rem;
        margin-top: 3rem;
    }


}




/* for big callout  */
@media (min-width : 80.625rem){

    .callout p{
        font-size: 4.6rem;
        word-spacing: 0.15rem;
        font-size: 4rem;
    
    }

}