
.grid{
    display: grid;
}







/* 481px or bigger for full name on top bar */
@media (min-width : 30rem){

    .short-logotype{
        display:none;
    }

    .logotype{
        display:block;
        font-weight: 300;
        font-size: 1.85rem;
        color: var(--navbar-text-color);
        text-decoration: none;
        margin:0.2rem;
        margin-top: 0.4rem;
        margin-right: 0.5rem;
        padding:0;
    }


    .main-section{
        width:94%;
        margin:2.3rem auto;
    }

    .callout p{
        font-size: 2rem;
        word-spacing: 0.15rem;
    }

    h2{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem;
        /* margin-top: 2.2rem; */
    }

    p{
        font-size: 0.9rem;
    }

}



/* project overview grid starts  */
@media (min-width : 40.75rem){
    .overview-grid{
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items:first baseline;
    }

    /* .card-two-column{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    } */


        /* chnage based on viewport */
        .bio-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            /* gap:1.7rem; */
            gap:4%;
        }
    
        .bio-img-div{
            /* background-color: lightgreen; */
            /* max-width: 25rem; */
            /* max-width: 23rem; */
            max-width:40%;
        }
}



/* card goes 2 columns*/
@media (min-width : 48.35rem){

    /* .card-two-column{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    } */

    .card-grid{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}





/* ============ layout SWITCH - 920 px and bigger ============ */
/* 920 px or bigger so ipad airs can have a side bar too */
@media (min-width : 57.5rem){

    .main-wrapper{
        flex-direction: row-reverse;
    }

    main{
        margin-right: 14.5rem;
    }

    .main-section{
        width:88%;
        margin:2.3rem auto;
    }

    .nav-section{
        width: 14.5rem;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        position: fixed;
      
    }

    .my-brand{
        flex-direction: column;
        align-items: center;
    }

    .short-logotype{
        display:none;
    }

    .logotype{
        display: block;
        color: var(--navbar-text-color);
        text-decoration: none;
        text-align: center;
        font-size: 1.7rem;
        line-height: 2rem;
        padding: 0 2rem ;

    }

    .smiley-logo{
        display: block;
        width: 5.9rem;
        height: auto;
        margin-bottom: 0.8rem;
        
    }

    nav{
        flex-direction: column;
    }

    nav a{
        text-align: center;
        font-weight: 400;
        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;
        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
    }


    nav a:hover, nav a:focus{
        color: var(--navbar-color);
        background-color: var(--navbar-text-color);

        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;

        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
        text-decoration: none;
    }

    nav a:focus{
        text-decoration: underline;
    }


    footer{
        display: none;
    }

    .side-footer{
        display: block;
    }

    .side-footer p{
        display: block;
        color:var(--navbar-text-color);
        text-align: center;
        font-size: 0.8rem;
        font-weight: 200;
    }

    .space-fixer-div{
        display: block; 
    }


    h2{
        font-size: 1.2rem;
    }


    .callout-sec h2{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.2rem;
    }

    .feel-free-points p{
        font-size:0.95rem;
        margin-bottom: 0.65rem;
    }



    .callout p{
        font-size: 4.6rem;
        word-spacing: 0.15rem;
        font-size: 2.8rem;
    
    }

    .callout{
        margin-top: 6rem;
        margin-top: 2.1rem;
        margin-bottom: 3.2rem;
    }

    .card-grid{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }


}






@media (min-width : 65rem){

    .card-grid{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }


    /* chnage based on viewport */
    .bio-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* gap:1.7rem; */
        gap:6%;
    }

    .bio-img-div{
        /* background-color: lightgreen; */
        /* max-width: 25rem; */
        /* max-width: 23rem; */
        max-width:40%;
    }


}






/* projects get a 2 column grid */
/* 1221 px -- 76.312rem*/
@media (min-width : 76.5rem){

    .project-sec-two-column{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    /* .card-two-column{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    } */



    /* .project-detail{
        margin: auto 0;
    } */

    /* .project-detail p{

        padding-right: 2rem;
        padding-right: 3vw;
        max-width: 40rem;
    } */

    .full-span-the-grid{
        grid-column-start: span 2;
    }

}













/* for big callout  */
@media (min-width : 84.625rem){


    .callout{
        margin-top: 2.2rem;
        margin-bottom: 3.5rem;
    }

    .callout p{
        font-size: 4.6rem;
        word-spacing: 0.15rem;
        font-size: 4rem;
        font-size: 3.2rem;
    
    }



    h2{
        font-size: 1.35rem;
    }


    .callout-sec h2{
        font-size: 1.15rem;
    }


    h3{
        font-size: 1.35rem;
        margin-bottom: 0.9rem;
    }


    .feel-free-points p{
        font-size:1rem;
        margin-bottom: 0.8rem;
    }

    .project-detail{
        margin: auto 0;
    }

    .project-detail p{
        /* max-width: 32rem; */
        padding-right: 2rem;
        padding-right: 1vw;
        max-width: 40rem;
    }



    /* .project-body-inner-sec{
        margin-left: 15vw;

    } */

    .card-grid{
        grid-template-columns: 1fr 1fr;
        gap: 2.6rem;
    }

}



/* for card header flexbox  */
@media (min-width : 95rem){

    .project-card-heading{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .project-card-heading p{
        margin-right:0.35rem;
    }


}




